.contact-section{

    padding: 50px;
    margin: 0 auto;
  }
  
  @import url(https://fonts.googleapis.com/css?family=Exo);
  html, body {
    font-family: "Exo", sans-serif;
    position: relative;
  }
  
  a.button {
    text-decoration: none;
    padding: 20px;
    border: 1px solid aliceblue;
    top: 50%;
    left: -50%;
    color: aliceblue;
    transform: translate(-50%, -50%);
    transition: all 0.4s;
    
  }
  a.button:hover {
    border-color: #f1c40f;
    color: #f1c40f;
  }
  
  .modal-overlay {
    background: #333;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    text-align: center;
    text-shadow: none;
    top: 0;
    opacity: 0;
    transform: scale(0.5);
    transition: all 0.75s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    z-index: -100;
  }
  
  .modal-wrapper {
    padding: 1em 0;
    position: relative;
    margin: 0 auto;
    max-width: 500px;
    width: 90%;
  }
  .modal-wrapper .close {
    padding: 14px;
    position: absolute;
    right: 0.5em;
    top: 2.2em;
    width: 1.5em;
    cursor: pointer;
  }
  .modal-wrapper .close:before, .modal-wrapper .close:after {
    content: "";
    position: absolute;
    display: block;
    width: 2px;
    height: 36px;
    background-color: #3ac28c;
    top: -5px;
  }
  .modal-wrapper .close:before {
    transform: rotate(45deg);
  }
  .modal-wrapper .close:after {
    transform: rotate(-45deg);
  }
  .modal-wrapper h2 {
    color: #fff;
    margin-bottom: 1em;
    text-transform: uppercase;
  }
  
  @media (min-width: 50em) {
    .modal-wrapper {
      padding: 1.75em;
    }
  }
  @media (min-height: 37.5em) {
    .modal-wrapper {
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .active + .modal-overlay {
    opacity: 1;
    transform: scale(1);
    z-index: 800;
  }
  
  .message-form {
    clear: both;
    height: 350px;
  }
  .message-form .input-button {
    text-align: center;
    padding: 20px;
  }
  .message-form .input-button .button {
    border: 1px solid #fff;
    background-color: transparent;
    padding: 10px 20px;
    transition: all 0.4s;
    color: #fff;
    font-family: "Exo", sans-serif;
    cursor: pointer;
  }
  .message-form .input-button .button:hover {
    color: #3ac28c;
    border-color: #3ac28c;
  }
  .message-form .input-box {
    font-size: 16px;
    line-height: 24px;
    width: 100%;
    height: 72px;
    display: block;
    position: relative;
  }
  .message-form .input-box.focus .input-label {
    color: #3ac28c;
    transform: perspective(1px) scale(0.75) translate3d(0, -18px, 0);
  }
  .message-form .input-box.focus .underline-focus {
    transform: scaleX(1);
  }
  .message-form .input-box.focus.textarea {
    overflow-y: hidden;
    height: 200px;
    /* approximate max height */
    padding: 0 0 60px;
  }
  .message-form .input-box.focus.textarea .input-text {
    max-height: 200px;
    margin-top: 45px;
    padding-top: 0;
  }
  .message-form .input-box.textarea {
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  }
  .message-form .input-box.textarea .input-text {
    resize: none;
    overflow: hidden;
  }
  .message-form .input-box .input-label {
    position: absolute;
    line-height: 48px;
    opacity: 1;
    color: #666;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    top: 24px;
    transform: scale(1) translate3d(0, 0, 0);
    transform-origin: left top 0;
  }
  .message-form .input-box .input-text {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    position: relative;
    width: 100%;
    height: 100%;
    border: 0;
    outline: none;
    background-color: transparent;
    color: #fff;
    box-sizing: border-box;
    padding-top: 36px;
    box-shadow: none;
    padding-left: 0;
    font-size: 18px;
  }
  .message-form .input-box .underline {
    border: 0;
    border-bottom: solid 1px #e0e0e0;
    position: absolute;
    width: 100%;
    bottom: 8px;
    margin: 0;
    box-sizing: content-box;
    height: 0;
  }
  .message-form .input-box .underline-focus {
    border-style: none none solid;
    border-bottom-width: 2px;
    position: absolute;
    width: 100%;
    bottom: 8px;
    margin: 0;
    box-sizing: content-box;
    height: 0;
    border-color: #3ac28c;
    transform: scaleX(0);
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  }